@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Delete Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3></h3>
<p>
    If you want to <strong>remove a user</strong> rememmber to check if they <strong>returned equipment</strong> than <strong>change assigment and status</strong> of hardware.
</p>
<a class="btn btn-dark" asp-controller="Users" asp-action="Index">Go back to user list</a>