@model List<InventoryManagment.Web.Models.Entities.Department>
@{
	ViewData["Title"] = "Departments";
}

<h3>Departments</h3>

<table class="table">
	<thead>
	<th>Id</th>
	<th>Name</th>
	<th></th>
	</thead>
	<tbody>
		@foreach (var department in Model)
		{
			<tr>
				<td>@department.Id</td>
				<td>@department.Name</td>
				<td>
					<a class="btn btn-dark" asp-controller="Departments" asp-action="Edit" asp-route-id="@department.Id">Edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<a class="btn btn-dark" asp-controller="Departments" asp-action="Add">Add new Department</a>